// noinspection ThisExpressionReferencesGlobalObjectJS
(function (window) {
  window.__env = window.__env || {};

  // API url
  window.__env.apiUrl = 'http://dev.your-api.com';

  // Whether or not to enable debug mode
  // Setting this to false will disable console output
  window.__env.enableDebug = true;

  //change this to true if you want to show a button that will unhide the call-to-subscribe after hiding it. DEV ONLY
  window.__env.callToSubscribeDevelopment = false;
}(this));
