<ul class="nav  justify-content-center">
  <li class="nav-item"><a class="nav-link" routerLink="about-us" routerLinkActive="active">About Us</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact Us</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="faq" routerLinkActive="active">FAQ</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
</ul>
