.call-to-subscribe-container {
  max-width: 520px;
}
@media (min-width:768px) {
  .rounded-circle-md-bottom-right {
    border-bottom-right-radius: 20%;
  }

  .rounded-circle-md-top-right {
    border-top-right-radius: 20%;
  }
}
