<div class="container">
  <div class="row pt-3">
    <div class="col">
      <div class="card text-center border-primary">
        <div class="card-header">
          <h2 class="card-title">Tagline (Why?)</h2>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputEmail1" class="sr-only">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="email:">
            </div>
            <button type="button" class="btn btn-primary ml-3">Subscribe!</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="row pt-3">
    <div class="col">
      <form class="form-inline">
        <label for="call-to-subscribe-close" class="sr-only"> </label>
        <input id="call-to-subscribe-close" class="form-control" type="text" readonly
               placeholder="Show me more content first">
        <button type="button" class="btn btn-danger">Skip</button>
      </form>

    </div>
  </div>
</div>

