<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container flex-nowrap justify-content-start d-none d-lg-flex">
    <a class="navbar-brand w-25" routerLink="home" routerLinkActive="active">
      <img src="/assets/logo.jpeg" class="img-fluid img-thumbnail" alt="brand image">
    </a>
    <form class="form-inline">
      <div class="form-group">
        <label for="lg-header-subscribe-email" class="sr-only">Email</label>
        <input id="lg-header-subscribe-email" type="email" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" [(ngModel)]="newEmail">
      </div>
      <button type="button" class="btn btn-secondary" (click)="subscribe(newEmail)">Subscribe</button>
    </form>
  </div>
  <div class="container flex-nowrap justify-content-between d-flex d-lg-none">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">
      <img src="/assets/icon-logo.png" class="mobile-header-logo" alt="brand image">
    </a>
    <form class="form-inline d-none d-sm-flex">
      <div class="form-group">
        <label for="md-header-subscribe-email" class="sr-only">Email</label>
        <input id="md-header-subscribe-email" type="email" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" [(ngModel)]="newEmail">
      </div>
      <button type="button" class="btn btn-secondary" (click)="subscribe(newEmail)">Subscribe</button>
    </form>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="mobileHeaderClicked.emit()"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
  </div>
</nav>
<div class="collapse width position-fixed mobile-header-container" id="navbarToggleExternalContent">
  <ul class="list-group">
    <li class="list-group-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="about-us" routerLinkActive="active">About Us</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact Us</a>
    </li>
    <li class="list-group-item"><a class="nav-link" routerLink="faq" routerLinkActive="active">FAQ</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="privacy-policy" routerLinkActive="active">Privacy
      Policy</a>
    </li>
  </ul>
</div>
