<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container flex-nowrap justify-content-start">
    <a class="navbar-brand w-25" routerLink="home" routerLinkActive="active">
      <img src="/assets/logo.jpeg" class="w-100 h-100" alt="brand image">
    </a>
    <form class="form-inline">
      <div class="form-group">
        <label for="header-subscribe-email" class="sr-only">Email</label>
        <input id="header-subscribe-email" type="email" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" [(ngModel)]="newEmail">
      </div>
      <button type="button" class="btn btn-secondary" (click)="subscribe(newEmail)">Subscribe</button>
    </form>
  </div>
</nav>
