<div class="flex-grow-1 justify-content-between" style="height: 100%;">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
  <div class="row flex-grow-1">
    <div class="col">
      <router-outlet></router-outlet>
      <app-toast></app-toast>
    </div>
  </div>
  <div class="row align-self-end align-items-center justify-content-center">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>
